<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redefinir Senha</title>
</head>
<body>
    <h1>Redefinir Senha</h1>
    <form action="/auth/password-reset" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <div>
            <label for="newPassword">Nova Senha:</label>
            <input type="password" id="newPassword" name="newPassword" required />
        </div>
        <div>
            <label for="confirmPassword">Confirme a Nova Senha:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required />
        </div>
        <div>
            <button type="submit">Redefinir Senha</button>
        </div>
    </form>
</body>
</html>
